.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .formLabel {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  
  .formInput {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .errorMsg {
    color: #ff0000;
    font-size: 0.8rem;
    margin-top: 5px;
  }
  
  .addButton {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .addButton:hover {
    background-color: #0056b3;
  }
  
  .imageInput {
    display: flex;
    align-items: center;
  }
  
  .imageInput input {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .imageInput button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .imageInput button:hover {
    background-color: #0056b3;
  }

  /* Media Query para hacerlo responsive */
@media (max-width: 768px) {
  .formContainer {
    max-width: 400px; /* Ajustar el ancho máximo en pantallas pequeñas */
    width: 100%;
  }
}